@font-face {
  font-family: "Recoleta";
  src: local("Recoleta Medium"), local("Recoleta-Medium"),
    url("../fonts/Recoleta-Medium.woff2") format("woff2"),
    url("../fonts/Recoleta-Medium.woff") format("woff"),
    url("../fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --color-bg: #fff;
  --color-bg-primary: #0a0012;
  --color-bg-secondary: #f5f9fb;
  --color-bg-almost-primary: hsla(0, 0%, 100%, 0.75);
  --color-bg-light: #fff;
  --color-bg-hover: #fff;
  --color-bg-shadow: #f5f9fb;
  --color-bg-light-bar: rgba(217, 231, 239, 0.25);
  --color-bg-shadow-heavy: rgba(60, 72, 86, 0.45);
  --color-text-primary: #3c4856;
  --color-text-secondary: rgba(60, 72, 86, 0.76);
  --color-text-content: #3c4856;
  --color-text-contrast: #fff;
  --color-text-solid: #000;
  --color-text-gradient-from: #e3eef4;
  --color-text-gradient-to: rgba(227, 238, 244, 0.1);
  --color-border-light: rgba(59, 72, 86, 0.09);
  --color-border-medium: #e2ebf0;
  --color-border-heavy: rgba(59, 72, 86, 0.4);
  --color-text-inline-code: #3c4856;
  --color-bg-inline-code: #f5f9fb;
  --color-bg-tab: rgba(0, 0, 0, 0.05);
  --color-bg-tab-accent: rgba(0, 0, 0, 0.05);
  --color-bg-tab-hover: rgba(62, 123, 154, 0.12);
  --color-bg-nav-bar: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.12) 10%,
    rgba(0, 0, 0, 0.12) 50%,
    rgba(0, 0, 0, 0.01)
  );
  --color-cta: #da3654;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 24.8px;
  box-sizing: border-box;
}
html {
  font: 100%/1.55 Poppins, sans-serif;
}
body {
  color: var(--color-text-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Recoleta", sans-serif;
  font-weight: 700;
  line-height: 1.33;
  padding: 0;
  margin: 0 0 1.1625rem;
}
h1 {
  font-size: 3.375rem;
}
h2 {
  font-size: 2.07474rem;
}
h3 {
  font-size: 1.62671rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.78405rem;
}
h6 {
  font-size: 0.69425rem;
}
p {
  padding: 0;
  margin: 0 0 1.1625rem;
}
a {
  text-decoration: none;
  background-color: transparent;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: calc(1.1625rem / 2);
}
ul li {
  padding-left: 0;
}

blockquote :last-child,
li :last-child,
p :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.1625rem;
  border-style: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}

.page-content {
  max-width: 87.5rem;
  padding: 0;
}

a.cta {
  font-size: 1.125rem;
  font-weight: 500;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: var(--color-cta);
  padding: 0.86111111111111111112rem 1.55rem 1.03333333333333332rem;
  border-radius: 28px;
  text-decoration: none;
  color: #fff;
  min-width: 9rem;
  position: relative;
  text-align: center;
  z-index: 0;
  &:hover {
    outline: 0;
    &::before {
      transform: scale(1.05);
    }
    &::after {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    content: "";
    background-color: var(--color-cta);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s cubic-bezier(0, 0.89, 0.44, 1);
    transform: translateZ(0) scale(0.9999);
    z-index: -1;
    border-radius: 28px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  &::after {
    opacity: 0;
    box-shadow: 0 9px 60px 0 rgba(218, 54, 84, 0.35);
  }
}

.section {
  padding: 4.65rem 3.1rem;
  margin-left: 0;
  margin-right: 0;
}
