.flo {
  position: relative;
  top: -3px;
  width: 35px;
  max-width: auto;
  height: 28px;
}
.flo_svg__cls-3 {
  fill: #b7c7d3;
}
.trusted-companies {
  margin: auto 0;
  h3 {
    font-size: 0.875rem;
    margin-bottom: 2.325rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: var(--color-text-secondary);
  }
  ul {
    display: flex;
    flex-wrap: wrap;

    color: var(--color-text-primary);

    li {
      margin-bottom: 1.55rem;
      svg {
        max-width: 100px;
        height: auto;
      }
    }
    li:not(:last-child) {
      margin-right: 2.325rem;
      padding-left: 0;
    }
  }
}

.i30 {
  position: absolute;
  overflow: hidden;
  top: 90%;
  max-width: 140px;
  right: 1%;
  width: 100%;
}
.i9 {
  position: absolute;
  overflow: hidden;
  top: 85%;
  max-width: 230px;
  right: 20%;
  transform: rotate(-80deg);
  width: 100%;
}
.map {
  background-color: var(--color-bg-secondary);
  border-radius: 16px;
  text-align: center;
}
.map-img {
  margin: 4.65rem auto 0;
  position: relative;
  overflow: hidden;
  max-width: 64rem;
}
