.jamstack-service-page {
  .jam-intro,
  .featured-post-services,
  .workflow,
  .blog-posts {
    border-radius: 16px;
    background-color: var(--color-bg-secondary);
  }
  .tech,
  .testimonials {
    background: var(--color-bg);
    border-radius: none;
  }
}
