.map {
  background-color: var(--color-bg-secondary);
  border-radius: 16px;
  text-align: center;
}
.map-img {
  margin: 4.65rem auto 0;
  position: relative;
  overflow: hidden;
  max-width: 64rem;
}
