$red: #da3654;
header.nav {
  background: var(--color-bg-almost-primary);
  backdrop-filter: blur(16px);
  z-index: 9;
  position: sticky;
  top: 0;
  .navbar {
    display: grid;
    max-width: 87.5rem;
    padding: 0;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "logo nav cta";
    align-items: center;
    height: 100%;

    .nav-brand {
      grid-area: logo;
      a {
        background-color: transparent;
        .nav-logo {
          max-width: 10.85rem;
          height: 30px;
          margin-top: 0.5rem;
        }
      }
    }
    .menu {
      display: block;
      grid-area: nav;
      width: 100%;
      .menu-items {
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
          padding: 0 0.3875rem;
          margin: 0;
          font-size: 1rem;
          .top-nav-link {
            font-size: 1rem;
            font-weight: 500;
            padding: 2.325rem 1.55rem;
            display: flex;
            border-top: 2px solid transparent;
            align-items: center;
            color: var(--color-text-primary);
            &:hover,
            &.active {
              color: $red;
            }
            &.active {
              border-top: 2px solid $red;
            }
          }
        }
        .nav-service {
          .top-nav-link {
            .downCaret {
              margin-left: 0.775rem;
            }
          }

          .service-dropdown {
            background: var(--color-bg-hover);
            border-radius: 8px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            margin: 0;
            list-style: none;
            box-shadow: 0 9px 60px 0 var(--color-bg-shadow-heavy);
            padding: 1.0333333333333332rem 0;
            transition: all 0.3s cubic-bezier(0, 0.89, 0.44, 1);
            transform: translateY(-4px);
            li {
              margin: 0;
              padding-left: 0;
              a {
                color: var(--color-text-primary);
                padding: 0.5167rem 1.9375rem;
                display: block;
                &:hover {
                  color: $red;
                }
              }
            }
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
      }
    }
    .cta-container {
      justify-self: end;
      grid-area: var(--color-cta);
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}
