.cards {
  margin: 1.55rem auto 0;
  margin-top: 4.65rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.1rem;
  column-gap: 3.1rem;
  max-width: 58.9rem;
  align-items: flex-start;
  .card {
    display: flex;
    flex-direction: column;
    color: currentColor;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: transparent;
    position: relative;
    &::before {
      content: "";
      width: calc(100% + 3.1rem);
      height: calc(100% + 3.1rem);
      position: absolute;
      top: -1.55rem;
      left: -1.55rem;
      display: block;
      z-index: -1;
      visibility: hidden;
      border-radius: 8px;
      background-color: var(--color-bg-hover);
      background-color: var(--color-bg);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      box-shadow: 0 9px 60px 0 rgba(218, 54, 84, 0.15);
    }
    .card-img {
      position: relative;
      overflow: hidden;
      img {
        border-radius: 8px 8px 0 0;
      }
    }
    &:hover {
      transform: translateY(-0.19375rem);
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
    h3 {
      margin-top: 1.55rem;
    }
    p {
      color: var(--color-text-secondary);
      margin-bottom: 2.325rem;
    }
    span {
      margin-top: auto;
      color: var(--color-cta);
    }
  }
}
