.team.section {
  background-color: var(--color-bg-secondary);
  border-radius: 16px;
}
.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(10vw + 4.5rem), 4fr));
  row-gap: 1.55rem;
  column-gap: 1.55rem;
  margin-top: 3.1rem;
  max-width: 68.2rem;
  align-items: flex-start;
  margin: 1.55rem auto 0;
  .member {
    height: 15.15vw;
    min-height: 240px;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .member-img {
      width: 100%;
      position: relative;
    }
    p {
      color: var(--color-text-primary);
      small {
        color: var(--color-text-secondary);
      }
    }
  }
}
