.values {
  .things {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    column-gap: calc(6vw + 3.1rem);
    row-gap: 4.65rem;
    align-items: flex-start;
    margin: 1.55rem auto 0;
    max-width: 58.9rem;
    margin-top: 4.65rem;

    .value {
      position: relative;
      color: var(--color-text-secondary);
      .value-img {
        display: inline-block;
      }
      h3 {
        color: var(--color-text-primary);
        z-index: 2;
        position: relative;
        margin-top: 1.55rem;
      }
    }
  }
  footer {
    margin-top: 4.65rem;
    text-align: center;
    div {
      max-width: 40.3000000000000004rem;
      margin: 0 auto;
      p {
        margin-top: 2.325rem;
        font-size: 1.25rem;
        color: var(--color-text-secondary);
        line-height: 1.8;
      }
    }
  }
}
